* {
  padding: 0px;
  margin: 0px;
}

#navbar {
  float: right;
  height: 200px;
  background-image: url(img/image1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: yellow;
  height: 34rem;
  align-content: center;
}
#navbar a {
  display: table;
  float: right;
  padding: 0px 60px;
  list-style: none;
  background-color: yellow;
  font-weight: bold;
}

span {
  color: yellow;
}
.home {
  margin: 50px;
}
.logo {
  margin: 30px;
}
.home h1 {
  padding-bottom: 80px;
}
.home h5 {
  padding-bottom: 300px;
}
.offer {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
}

.firstoffer {
  border: 1px solid brown;
  float: right;
  padding: 40px;

  margin: 10px 5px 15px 20px;
}
.secondoffer {
  border: 1px solid brown;
  float: right;
  padding: 40px;

  margin: 10px 5px 15px 20px;
}
.thirdoffer {
  border: 1px solid brown;
  float: right;
  padding: 40px;
  border-radius: 15px 15px 15px 15px;

  margin: 15px 15px 15px 15px;
}

button {
  background-color: yellow;
}
.menuone {
  display: flex;
  padding-bottom: 50px;
  width: 40%;
}
.menutwo {
  display: flex;
  flex-direction: row;
  width: 40%;
}
.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.about {
  background-color: #e1ebe6;
}
