@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(img/image1.png);
  background-position: right;
  background-size: contain;
  padding-left: 8%;
  padding-right: 8%;
  background-repeat: no-repeat;
}
.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}
.items {
  flex: 1;
  text-align: right;
}
.items ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

span {
  color: yellow;
}
.home {
  margin: 50px;
}
.logo {
  margin: 30px;
}
.home h1 {
  padding-bottom: 100px;
  padding-top: 50px;
  padding-left: 20px;
}
.home h5 {
  padding-bottom: 200px;
  padding-left: 20px;
}
.offers {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  background-color: #e1ebe6;
  height: 50vh;
  padding: 80px;
}
.offernumber {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}

.firstoffer {
  width: 250px;
  height: 200px;
  margin-right: 50px;
  border: 1px solid saddlebrown;
  justify-items: center;
}
.secondoffer {
  height: 230px;
  width: 300px;
  margin-right: 50px;
  border: 1px solid saddlebrown;
}
.thirdoffer {
  width: 250px;
  height: 200px;
  margin-right: 50px;
  border: 1px solid saddlebrown;
}

button {
  background-color: yellow;
  margin-left: 50px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 10%;
}
.menuone {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 20px;
  padding-top: 40px;
}
.menuone img {
  width: auto;
  height: 200px;
}
.menutwo img {
  width: auto;
  height: 200px;
}
.menutwo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.menu1 {
  border: 1px solid grey;
  border-radius: 25px;
  box-shadow: 3px 3px 3px grey;
  text-align: center;
}
.menu2 {
  border: 1px solid grey;
  border-radius: 25px;
  box-shadow: 3px 3px 3px grey;
  text-align: center;
}
.menu3 {
  border: 1px solid grey;
  border-radius: 25px;
  box-shadow: 3px 3px 3px grey;
  text-align: center;
}
.menu4 {
  border: 1px solid grey;
  border-radius: 25px;
  box-shadow: 3px 3px 3px grey;
  text-align: center;
}
.menu5 {
  border: 1px solid grey;
  border-radius: 25px;
  box-shadow: 3px 3px 3px grey;
  text-align: center;
}
.menu6 {
  border: 1px solid grey;
  border-radius: 25px;
  box-shadow: 3px 3px 3px grey;
  text-align: center;
}
.row1 {
  text-align: centre;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0, 1), 0 4px 12px 0 rgba(0, 0, 0, 5);
  border: none;
  border-radius: 20px;
  padding: 0 10px;
}

.list-items {
  list-style: none;
}
.spacing {
  padding: 5px;
}
.footer-2 {
  padding: 0 50px;
  width: 100vw;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}
.footer-2 p {
  font-family: "Roboto", sans-serif;
}
.d-flex-row {
  display: flex;
  flex-direction: row;
}
.footer-1 {
  height: 180px;
  background-color: #e1ebe6;
}
.flex-1 {
  flex: 1;
  align-items: center;
  padding-left: 50px;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
}
.flex-1-5 {
  flex: 1.5;
  justify-content: center;
  padding-left: 25px;
}
.flex-1-5 h3 {
  font-family: "Roboto", sans-serif;
}

.flex-1-5 ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.flex-1 h3 {
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
}
.discover-section {
  background-color: #f6b400;
  height: 80vh;
}
.double-decker-section {
  background-color: #e1ebe6;
  height: 80vh;
  padding: 300px;
}
.screenshot {
  display: flex;
  flex-direction: row;
}
.screenshot2 {
  position: relative;
  right: 0;
  width: 180px;
  margin: 100px;
}
.screenshot1 {
  position: relative;
  width: 180px;
  margin: 100px;
}
.desc-normal {
  color: black;
  font-weight: 700;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
}
.images {
  align-items: right;
}
.desc-yellow {
  color: #f6b400;
  font-weight: 700;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
}
.images {
  display: flex;
}
